# Database
DATABASE_URL=local.db

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
BETTER_AUTH_TELEMETRY=0

# 42 OAuth
FORTYTWO_CLIENT_ID=u-s4t2ud-
FORTYTWO_CLIENT_SECRET=s-s4t2ud-
